@import "tailwindcss";

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background: #000;
  overflow-x: hidden;
}

#root {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}

@layer components{
  .glass-button{
    @apply relative px-10 py-3
            rounded-2xl
            font-semibold text-slate-900

            bg-white/40
            backdrop-blur-xl
            border border-white/60

            shadow-lg shadow-black/20
            transition-all duration-300 ease-out

            hover:bg-white/60
            hover:shadow-xl hover:shadow-white/40
            hover:-translate-y-0.5
            active:translate-y-0 active:shadow-md
  }
  .glass-result{
    @apply relative px-8 py-3 
           rounded-xl bg-white/10 
            backdrop-blur-md 
            border border-white/20 
            shadow-lg shadow-black/30
            transition-all duration-300
            hover:bg-white/20
            hover:shadow-blue-400/40
            hover:-translate-y-0.5
            active:translate-y-0
  }
  .glass-input{
    @apply w-full p-4 rounded-lg 
    bg-white/30 
    border border-gray-700 backdrop-blur-md 
    focus:outline-none 
    focus:ring-2
    focus:ring-blue-400
  }
}

